/* You can add global styles to this file, and also import other style files */
input[type=text], input[type=password] {
padding: 5px 10px;
}
select{
  padding: 5px 10px;
}
button{
  padding: 5px 15px;
  cursor: pointer;
}
